<h1>Listing attendences</h1>

<table>
  <tr>
    <th>User</th>
    <th>Vehicle</th>
    <th>Pick up point</th>
    <th>Employee</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendences.each do |attendence| %>
  <tr>
    <td><%= attendence.user_id %></td>
    <td><%= attendence.vehicle_id %></td>
    <td><%= attendence.pick_up_point_id %></td>
    <td><%= attendence.employee_id %></td>
    <td><%= attendence.status %></td>
    <td><%= link_to 'Show', attendence %></td>
    <td><%= link_to 'Edit', edit_attendence_path(attendence) %></td>
    <td><%= link_to 'Destroy', attendence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendence', new_attendence_path %>
